---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkPill from "./LinkPill.astro";

const TAGS = {
  HTML:{
    name:"HTML",
    class:"border-[#ef652a]/70 bg-[#ef652a]/70 text-white",
    icon:"public/skills/HTML.svg",
  },
  CSS:{
    name:"CSS",
    class:"border-[#30a9dc]/70 bg-[#30a9dc]/70 text-white",
    icon:"public/skills/CSS.svg",
  },
  JavaScript:{
    name:"JavaScript",
    class:"border-[#f0db4f]/70 bg-[#f0db4f]/70 text-white",
    icon:"public/skills/JavaScript.svg",
  },
  TypeScript:{
    name:"TypeScript",
    class:"border-[#3178c6]/70 bg-[#3178c6]/70 text-white",
    icon:"public/skills/TypeScript.svg",
  },
  React:{
    name:"React",
    class:"border-[#00d8ff]/50 bg-[#00d8ff]/50 text-white",
    icon:"public/skills/React.svg",
  },
  NodeJS:{
    name:"NodeJS",
    class:"border-[#66b948]/70 bg-[#66b948]/70 text-white",
    icon:"public/skills/NodeJS.svg",
  },
  MongoDB:{
    name:"MongoDB",
    class:"border-[#01ec64]/70 bg-[#01ec64]/70 text-white",
    icon:"public/skills/MongoDB.svg",
  },
};
const PROJECTS = [
  {
    title:"MATB",
    subtitle:"Venta de accesorios",
    description: "Pagina web para la administración y venta de accesorios.",
    link:"https://m-a-t-b.web.app/",
    github:"https://github.com/Debraye7/MATB-client",
    image:"/public/projects/matb.webp",
    tags:[TAGS.HTML, TAGS.CSS, TAGS.JavaScript, TAGS.React, TAGS.NodeJS, TAGS.MongoDB],
  },
  // {
  //   title:" ToDo",
  //   subtitle:"Lorem, ipsum dolor sit amet consectetur",
  //   description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati doloribus adipisci possimus esse maxime, quaerat, in expedita porro explicabo.",
  //   link:"https://uva-asistente.web.app/",
  //   github:"#",
  //   image:"/public/projects/Calendarios.webp",
  //   tags:[TAGS.HTML, TAGS.CSS, TAGS.TypeScript, TAGS.React, TAGS.MongoDB, TAGS.NodeJS],
  // },
  // {
  //   title:"ERP",
  //   subtitle:"Lorem, ipsum dolor sit amet consectetur",
  //   description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati doloribus adipisci possimus esse maxime, quaerat, in expedita porro explicabo.",
  //   link:"https://uva-asistente.web.app/",
  //   github:"#",
  //   image:"/public/projects/Calendarios.webp",
  //   tags:[TAGS.HTML, TAGS.CSS, TAGS.JavaScript, TAGS.React, TAGS.MongoDB, TAGS.NodeJS],
  // }
];
---

{
  PROJECTS.map(({ title, subtitle, description, tags, link, github, image }) => (
    <article class="flex items-center flex-wrap md:flex-nowrap gap-5">
      <div class="flex flex-col gap-5 w-full md:w-1/2">
        <h3 class="text-lg md:text-xl lg:text-2xl font-semibold text-sky-400 text-pretty">
          {title}
          <span class="text-white/90 text-pretty"> - {subtitle}.</span>
        </h3>
        <ul class="flex flex-wrap gap-2 opacity-70 hover:opacity-100 transition">
        {tags.map(tag => (
          <li class={`flex items-center gap-2 w-fit h-6 md:h-7 px-2 md:px-3 border-2 rounded-md ${tag.class} bg-gradient-to-r from-transparent to-neutral-800 shadow-lg shadow-stone-950`}>
            <img class="size-3 md:size-4" src={tag.icon} alt={`Logo de ${tag.icon}`}/>                     
            <p class="text-xs md:text-sm">{tag.name}</p>
          </li>
        ))}
        </ul>
        <p class="text-sm md:text-base lg:text-lg text-pretty opacity-60">{description}</p>
      </div>
      <div class="flex flex-col gap-5 w-full md:w-1/2">
        <div class="flex gap-4">
          <LinkPill href={link} class="h-8 md:h-10 lg:h-12 w-28 md:w-32 lg:w-36 text-sm md:text-base lg:text-lg">
            <Link class="size-4 md:size-5 lg:size-6"/>
            Visitar
          </LinkPill>
          <LinkPill href={github} class="h-8 md:h-10 lg:h-12 w-28 md:w-32 lg:w-36 text-sm md:text-base lg:text-lg">
            <GitHub class="size-4 md:size-5 lg:size-6"/>
            Código
          </LinkPill>
        </div>
        <img class="w-full max-h-[350px] rounded-3xl shadow-xl shadow-stone-950 overflow-hidden opacity-50 hover:opacity-80 hover:scale-105 transition" src={image} alt={`Captura de pantalla del proyecto ${title}`}/>
      </div>
    </article>
  ))
}